In [38]:
import pandas as pd

In [39]:
# 1. 데이터 불러오기
df = pd.read_csv(
    # "C:/Users/Admin/Desktop/이정수/LG U+/프로젝트3/data/0.perfume_preprocessed.csv", # 정수
    "../../data/02_cleaned/perfume/1.perfume_mainaccord_missing_filled.csv",  # 원선
    # encoding="cp949",
)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    1475 non-null   int64
 1   url           1475 non-null   object
 2   Perfume       1475 non-null   object
 3   Brand         1475 non-null   object
 4   Country       1475 non-null   object
 5   Gender        1475 non-null   object
 6   Rating Value  1475 non-null   object
 7   Rating Count  1475 non-null   int64
 8   Year          1457 non-null   float64
 9   Top           1475 non-null   object
 10  Middle        1475 non-null   object
 11  Base          1475 non-null   object
 12  Perfumer1     1475 non-null   object
 13  Perfumer2     137 non-null    object
 14  mainaccord1   1475 non-null   object
 15  mainaccord2   1475 non-null   object
 16  mainaccord3   1475 non-null   object
 17  mainaccord4   1475 non-null   object
 18  mainaccord5   1475 non-null   object
dtypes: float64(1), int64(2), object(16)
memory usage: 219.1+ KB

In [32]:
# 2. mainaccord 열에서 고유한 값 추출
accord_cols = [
    "mainaccord1",
    # "mainaccord2", "mainaccord3",
    # "mainaccord4", "mainaccord5"
]

all_accords = df[accord_cols].values.flatten()
unique_mainaccords = sorted(set(all_accords))
unique_mainaccords

['aldehydic',
 'almond',
 'amber',
 'animalic',
 'aquatic',
 'aromatic',
 'cherry',
 'citrus',
 'coconut',
 'coffee',
 'earthy',
 'floral',
 'fresh',
 'fresh spicy',
 'fruity',
 'green',
 'honey',
 'iris',
 'lactonic',
 'lavender',
 'leather',
 'marine',
 'mineral',
 'mossy',
 'musky',
 'oud',
 'ozonic',
 'patchouli',
 'powdery',
 'rose',
 'smoky',
 'soft spicy',
 'sweet',
 'tobacco',
 'tuberose',
 'vanilla',
 'violet',
 'warm spicy',
 'white floral',
 'woody',
 'yellow floral']

In [33]:
# mainaccord → 대분류 매핑 딕셔너리
mainaccord_mapping = {
    "aldehydic": "라벤더같은 상쾌한향",
    "almond": "플로럴향, 달콤한향",
    "amber": "머스크같은 중후한향",
    "animalic": "머스크같은 중후한향",
    "aquatic": "시원하고 신선한 바다 향",
    "aromatic": "라벤더같은 상쾌한향",
    "cherry": "플로럴향, 달콤한향",
    "citrus": "감귤류의 상큼한 향",
    "coconut": "플로럴향, 달콤한향",
    "coffee": "라벤더같은 상쾌한향",
    "earthy": "싱그러운 풀 향",
    "floral": "플로럴향, 달콤한향",
    "fresh": "감귤류의 상큼한 향",
    "fresh spicy": "라벤더같은 상쾌한향",
    "fruity": "감귤류의 상큼한 향",
    "green": "싱그러운 풀 향",
    "honey": "플로럴향, 달콤한향",
    "iris": "플로럴향, 달콤한향",
    "lactonic": "플로럴향, 달콤한향",
    "lavender": "라벤더같은 상쾌한향",
    "leather": "머스크같은 중후한향",
    "marine": "시원하고 신선한 바다 향",
    "mineral": "시원하고 신선한 바다 향",
    "mossy": "싱그러운 풀 향",
    "musky": "머스크같은 중후한향",
    "oriental": "머스크같은 중후한향",
    "oud": "머스크같은 중후한향",
    "ozonic": "시원하고 신선한 바다 향",
    "patchouli": "싱그러운 풀 향",
    "powdery": "파우더느낌의 부드러운향",
    "rose": "플로럴향, 달콤한향",
    "smoky": "머스크같은 중후한향",
    "soft spicy": "파우더느낌의 부드러운향",
    "sweet": "플로럴향, 달콤한향",
    "tobacco": "머스크같은 중후한향",
    "tuberose": "플로럴향, 달콤한향",
    "vanilla": "플로럴향, 달콤한향",
    "violet": "플로럴향, 달콤한향",
    "warm spicy": "라벤더같은 상쾌한향",
    "white floral": "플로럴향, 달콤한향",
    "woody": "머스크같은 중후한향",
    "yellow floral": "플로럴향, 달콤한향",
}

# 매핑 적용
df["대분류"] = df["mainaccord1"].map(mainaccord_mapping)
df.rename(columns={"대분류": "fragrance"}, inplace=True)

df['fragrance'].value_counts()

fragrance
플로럴향, 달콤한향       571
감귤류의 상큼한 향       402
머스크같은 중후한향       245
라벤더같은 상쾌한향       130
파우더느낌의 부드러운향      68
싱그러운 풀 향          44
시원하고 신선한 바다 향     15
Name: count, dtype: int64

In [34]:
df = df.iloc[:,[0,-1]]

In [35]:
df

      perfume_id     fragrance
0             40    플로럴향, 달콤한향
1            152  파우더느낌의 부드러운향
2            543    플로럴향, 달콤한향
3            607    플로럴향, 달콤한향
4            618    머스크같은 중후한향
...          ...           ...
1470        1216    플로럴향, 달콤한향
1471        1273    머스크같은 중후한향
1472        1274    머스크같은 중후한향
1473        1438    감귤류의 상큼한 향
1474        1443    감귤류의 상큼한 향

[1475 rows x 2 columns]

In [ ]:
df.to_csv("../../data/03_results/perfume/perfume_classification.csv", index=False,encoding="utf-8-sig")

### 클러스터링 한 것과 동일한지 확인...

In [20]:
# 1. 데이터 불러오기
df_cluster = pd.read_csv(
    # "C:/Users/Admin/Desktop/이정수/LG U+/프로젝트3/data/0.perfume_preprocessed.csv", # 정수
    "C:/Users/Admin/Desktop/PROJ/data/02_cleaned/perfume/perfume_clustered_k11.csv", # 원선
    # encoding="cp949",
)

In [21]:
df_cluster.iloc[:,[0,-1]]

      perfume_id  cluster
0              0       10
1              1        9
2              2        9
3              3        4
4              4        9
...          ...      ...
1229        1471        4
1230        1472        9
1231        1473        9
1232        1474        1
1233        1475        8

[1234 rows x 2 columns]

In [22]:
df_cluster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   perfume_id     1234 non-null   int64
 1   url            1234 non-null   object
 2   Perfume        1234 non-null   object
 3   Brand          1234 non-null   object
 4   Country        1234 non-null   object
 5   Gender         1234 non-null   object
 6   Rating Value   1234 non-null   object
 7   Rating Count   1234 non-null   int64
 8   Year           1219 non-null   float64
 9   Top            1234 non-null   object
 10  Middle         1234 non-null   object
 11  Base           1234 non-null   object
 12  Perfumer1      1234 non-null   object
 13  Perfumer2      116 non-null    object
 14  mainaccord1    1234 non-null   object
 15  mainaccord2    1234 non-null   object
 16  mainaccord3    1234 non-null   object
 17  mainaccord4    1234 non-null   object
 18  mainaccord5    1234 non-null   object
 19  Middle_list    1234 non-null   object
 20  Note_filtered  949 non-null    object
 21  cluster        1234 non-null   int64
dtypes: float64(1), int64(3), object(18)
memory usage: 212.2+ KB

In [23]:
# Cluster → 설문조사 연결 매핑
cluster_mapping = {
    '0': "파우더느낌의 부드러운향",
    '1': "플로럴향, 달콤한향",
    '2': "싱그러운 풀 향",
    '3': "머스크같은 중후한향",
    '4': "플로럴향, 달콤한향",
    '5': "파우더느낌의 부드러운향",
    '6': "싱그러운 풀 향",
    '7': "파우더느낌의 부드러운향",
    '8': "플로럴향, 달콤한향",
    '9': "라벤더같은 은은한 향",
    '10': "감귤류의 상큼한 향"
}

# 라벨링 적용
df_cluster["cluster"] = df_cluster["cluster"].astype(str)
df_cluster["향분류"] = df_cluster["cluster"].map(cluster_mapping)

df_cluster = df_cluster.iloc[:,[0,-1]]

In [24]:
df_cluster['향분류'].value_counts()

향분류
라벤더같은 은은한 향     364
플로럴향, 달콤한향      352
파우더느낌의 부드러운향    216
싱그러운 풀 향        144
감귤류의 상큼한 향      124
머스크같은 중후한향       34
Name: count, dtype: int64

In [25]:
df

      perfume_id     fragrance
0             40    플로럴향, 달콤한향
1            152  파우더느낌의 부드러운향
2            543    플로럴향, 달콤한향
3            607    플로럴향, 달콤한향
4            618    머스크같은 중후한향
...          ...           ...
1470        1216    플로럴향, 달콤한향
1471        1273    머스크같은 중후한향
1472        1274    머스크같은 중후한향
1473        1438    감귤류의 상큼한 향
1474        1443    감귤류의 상큼한 향

[1475 rows x 2 columns]

In [26]:
df_cluster

      perfume_id          향분류
0              0   감귤류의 상큼한 향
1              1  라벤더같은 은은한 향
2              2  라벤더같은 은은한 향
3              3   플로럴향, 달콤한향
4              4  라벤더같은 은은한 향
...          ...          ...
1229        1471   플로럴향, 달콤한향
1230        1472  라벤더같은 은은한 향
1231        1473  라벤더같은 은은한 향
1232        1474   플로럴향, 달콤한향
1233        1475   플로럴향, 달콤한향

[1234 rows x 2 columns]

In [28]:
# 1. perfume_id 기준으로 병합
df_merged = pd.merge(df, df_cluster, on="perfume_id", how="inner")

# 2. 동일 여부 컬럼 생성 (True/False)
df_merged["match"] = df_merged["fragrance"] == df_merged["향분류"]

# 3. 동일 비율 계산
match_ratio = df_merged["match"].mean()  # True=1, False=0 → 평균 = 비율

print("대분류와 향분류 동일 비율:", match_ratio)

대분류와 향분류 동일 비율: 0.19692058346839547